body
{
	background: url("img/background.png") center no-repeat fixed;
	font-family: Arial;
	color: white;
}
div
{
	/*currently not available*/
	background-color: #FFFFFF;
}
#main-table
{
	margin-left: 30%;
}
h1
{
	text-align: center;
}
p
{
	text-align: center;
}
a
{
	text-align: center;
	color: white;
}
thead, tbody
{
	text-align: left;
}
.na
{
	background-color: black;
}
.no
{
	background-color: red;
}
.yes
{
	background-color: green;
}
.name
{
	background-color: blue;
}
#note
{
	text-align: left;
}