th, td
{
	width: 130px;
	border: #000000 solid;
	border-width: 1px;
}
.name
{
	background-color: blue;
}
.na
{
	background-color: black;
	text-align: center;
}
.no
{
	background-color: red;
	text-align: center;
}
.occ
{
	background-color: green;
	text-align: center;
}
.nm
{
	background-color: brown;
	text-align: center;
}
.nb
{
	background-color: rgb(245, 23, 218);
	text-align: center;
}
.nn
{
	background-color: purple;
	text-align: center;
}
